.hero{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-dark-med);
    color: var(--text-main);
}

.hero__container{
    width: 100%;
    height: 100%;
    padding: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

    /* OVERLAY */
    background-image: linear-gradient(rgba(55, 0, 0, 0.5)) , url("../img/img-01-fundo-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__title{
    text-align: center;
    font-size: var(--titulo-main);
    color: var(--text-title);
    text-transform: uppercase;
}

.hero__text{
    text-align: justify;
    font-size: 2.5rem;
    line-height: 1.5;
}

@media (min-width:320px){
    .hero__container{
      padding: 5%;
    }

    .hero__title{
        font-size: 3rem;
    }

    .hero__text{
        line-height: 1rem;
        font-size: 1.3rem;
        margin: 1% 0;
    }
}